@import '../../util/util.less';
.friend-data-block {
    & > .container-content {
        width: 400px;
        height: 520px;
        display: flex;
        flex-direction: column;
        & > .friend-data-content {
            height: 158px;
            background: url('/infoBg.png') center center no-repeat;
            .close-wrap {
                text-align: right;
                margin-right: 20px;
                & > i {
                    color: #fff;
                    font-size: 40px;
                }
            }
        }
        .friend-info {
            display: flex;
            margin: 15px 25px;
            .friend-name-info {
                color: #fff;
                font-size: 20px;
                margin-right: 140px;
                margin-left: 10px;
                line-height: 50px;
            }
            .friend-btn {
                color: @mainColor;
                padding: 5px 8px;
                background: @colorBg;
                font-size: 12px;
                margin-top: 5px;
                border-radius: 5px;
            }
        }
        .friend-details {
            height: 300px;
            margin: 25px;
                & > li {
                    display: flex;
                    margin-bottom: 20px;
                    font-size: 16px;
                    & > p:nth-of-type(1) {
                        width: 80px;
                        .icon-bianji1 {
                            color: @mainColor;
                        }
                    }
                }
        }
        .friend-btn-wrap {
            flex: 1;
            background-color: @colorBg;
            text-align: center;
            & > button {
                color: @mainColor;
                font-size: 20px;
                line-height: 60px;
                & > i {
                    font-size: 30px;
                    padding-top: -4px;
                }
            }
        }
        .friend-add-send {
            height: 80px;
            background-color: @colorBg; 
            .send-item {
                width: 360px;
                margin: 0 auto;
                display: flex;
                margin-top: 5px;
                justify-content: space-between;
            }
            .send-info {
                .send-item;
                font-size: 12px;
                & > p:nth-of-type(2) {
                    color: @mainColor;
                }
            }
            .send-confirm {
                .send-item;
                font-size: 14px;
                & > input {
                    background-color: #fff;
                    width: 256px;
                    padding: 0px 4px;
                    .border-line;
                }
                button {
                    .btn;
                    width: 76px;
                }
            }
        }
    }
}
