.friend-data-block {
    & > .container-content {
        width: 450px;
        height: 520px;
        .icon-close-admin-Block {
            float: right;
            margin-right: 20px;
        }
        & > .container-title {
            border: 0;
        }
        & > .friend-data-content {
            border-bottom: 1px solid #ddd;
            .friend-info {
                display: flex;
                padding: 0px 20px;
                margin-bottom: 30px;
                img {
                    width: 55px;
                    height: 55px;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    margin-right: 20px;
                }
                .friend-name-info {
                    margin: 10px 0px;
                    width: 300px;
                }
                .friend-code {
                    & > .icon-ercode {
                        font-size:30px;
                        color:#78909C; 
                    }
                }
            }
            .friend-data {
                margin-top: 20px;
                display: flex;
                padding: 0px 20px;

                & > .icon {
                    color:#999;
                }
            }
            .friend-signature {
                margin: 40px 20px 20px;
            }
        }
        & > .friend-btn-wrap {
            padding-top: 45px;
            .friend-btn {
                background: #29B6F6;
                border-radius: 3px;
                width:300px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin: 20px auto 0px;
                color: #fff;
            }
        }
    }
}
