@import '../../util/util.less';
.group-setting-block {
    & > .container-content {
        width: 450px;
        height: 650px;
        font-size:16px;
        margin-top: -20px;
        .group-item {
            display: flex;
            padding: 10px 20px;
        }
        .group-item-flex {
            justify-content: space-between;
            .border-bottom;
        }
        .group-info {
            .group-item;
            .group-item-flex;
            .group-base-info {
                display: flex;
                p {
                    line-height: 50px;
                    margin-left: 20px;
                }
                input {
                    .border-line;
                    margin-top: 8px;
                    height: 36px;
                    width: 250px;
                    padding: 10px;
                    margin-left: 20px;
                }
            }
            button {
                color: @mainColor;
            }
        }
        .group-members {
            .group-item;
            .group-item-flex ;
            .all {
                color: @mainColor;
            }
        }
        .members-avatar {
            overflow: hidden;
            padding: 10px 20px;
            .avatar-wrap {
                position: relative;
                width: 50px;
                height: 45px;
                cursor: pointer;
                float: left;
                margin-bottom: 5px;
                & > .icon-cuowu {
                    position: absolute;
                    font-size: 15px;
                    right: 8px;
                    bottom: 0px;
                    opacity: 0;
                }
            }
            .avatar-wrap:hover {
                & > .icon-cuowu {
                    opacity: 1;
                }
            }
            .avatar {
                margin-right: 20px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
            }
            .icon-tianjia {
                float: left;
                margin-top: -12px;
                display: block;
            }
        }
        .group-avatar-wrap:hover{
            position: relative;
            .choose-new-avatar {
                opacity: 1;
                top:0;
            }
        }
        .choose-new-avatar {
            position: absolute;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color:rgba(0, 0, 0, 0.5);
            z-index: 100;
            border-radius: 50%;
            opacity: 0;
            & > input {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 400;
            }
        }
        .btn-wrap {
            margin-top: 70px;
            text-align: center;
             button {
                width: 300px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border: 1px solid @redColor;
                color: @redColor;
                border-radius: 4px;
            }
            .dissolve-group {
                margin-top: 20px;
                color: #fff;
                background-color: @redColor;
            }
        }
    }
    .ant-switch-checked {
        background-color: @mainColor !important;
    }
}
.selete-admin-block {
   & > .container-content {
       height: 550px;
   }
}