.search-all-wrap {
    width: 1380px;
    margin: 0 auto;
    height: 100%;
    padding: 20px 0px;
    .search-all-btn {
        height: 70px;
        margin-bottom: 20px;
        .ant-btn-lg {
            height: 50px;
        }
        .ant-input {
            height: 50px;
            border: 0;
        }
        .ant-input-suffix {
            right: 0px !important;
            .search-btn;
        }
        .search-btn {
            background: #29B6F6;
            width: 100px;
            height: 50px;
            text-align: center;
            line-height: 65px;
            & > i {
                color: #fff;
                font-size: 30px;
            }
        }
    }
    .ant-layout-content {
        background-color: #fff;
    }
    .search-all-user {
        display: flex;
        // & > .avatar {
        //     width: 32px;
        //     height: 32px;
        //     line-height: 32px;
        //     font-size: 10px;
        // }
        .icon {
            font-size: 25px !important;
            margin-top: 8px;
            display: block;
        }
        & > p {
            margin-top: 15px;
            margin-left: 10px;
        }
    }
}