@import '../util/util.less';
.info-setting {
    padding: 40px;
    overflow: scroll;
    height: 100%;
    .change-self-avatar {
        display: flex;
        input {
            width: 100%;
            cursor:pointer;
        }
        .edit-avatar {
            position: relative;
            overflow: hidden;
            color: @mainColor;
            line-height: 46px;
            margin-left: 20px;
            font-size: 12px;
            cursor:pointer;
        }
    }
}