@import '../util/util.less';
.safe-setting {
    padding: 40px;
    input:focus {
        border: 1px solid #49a9ee !important;
        box-shadow: 0 0 0 2px rgba(16, 143, 233, 0.2) !important;
    }
    .login-account {
        .login-account-edit {
            display: flex;
            .login-title {
                margin-right: 30px;
            }
        }
        .edit-login-tip {
            font-size: 12px;
            color: #999;
            margin-left: 95px;
        }
        .change-account {
            color: @mainColor;
        }
    }
   li {
        padding: 20px 0px;
        display: flex;
        width: 450px;
        .ant-form-item-label {
            text-align: left;
            text-overflow: clip;
        }
       .confirm-btn {
           .ant-form-item-control  {
               button {
                width: 200px;
               }
           }
        }
    }
    .save-btn {
        flex-direction: row-reverse;
    }
    .bindLogo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        color: #fff;
        margin-right: 20px;
    }
    .bind-other {
        line-height: 50px;
        position: relative;
    }
    .qq-logo {
        .bindLogo;
        background-color: @mainColor;
        .icon-qq-copy {
            font-size: 28px;
        }
    }
    .wechat-logo {
        .bindLogo;
        background-color: @greenColor;
        .icon-weixin {
            font-size: 28px;
        }
    }
    .bind-btn {
        width: 90px;
        height: 46px;
        line-height: 46px;
        color: #fff;
        text-align: center;
        background-color: @mainColor;
        border-radius: 5px;
        position: absolute;
        right: 0;
    }
    .code-container {
        .edit-step;
        display: flex;
        justify-content: space-between;
        .code {
            width:280px;
            .border-line;
            text-indent: 10px;
        }
        & > p {
            width: 90px;
            height: 46px;
            line-height: 46px;
            color: #fff;
            text-align: center;
            background-color: @mainColor;
            border-radius: 5px;
        }
    }
}
.ant-btn-primary {
    background-color: @mainColor !important;
    border-color: @mainColor !important;
}