.ejianlian-add-projectf{
   width: 50%;   
   margin: 0 auto ;  
   position: absolute;  
  bottom:70px;   
   left: 0; 
 width: 300px; 
   right: 0;
    .add-button{
        width: 300px;
        height: 50px;
       // background-color: #29B6F6;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        border-radius:5px;
    }
    .add-button-create{
      background-color: #29B6F6;
      box-shadow: 1px 1px 1px #ddd;
      color:#fff;
    }
    .add-button-save{
      background-color: #29B6F6;
      color: #fff;
      box-shadow: 1px 1px 1px #ddd;
      margin-bottom:15px;
    }
    .add-button-delete{
      background-color: #EF5350;
      color: #fff;
      box-shadow: 1px 1px 1px #ddd;
      margin-bottom:15px;
    }
    .add-button-back{
      background-color:#fff;
      .icon-guidang{
         font-size:30px;
         color:#FFC107;
         vertical-align: middle;
         margin-right:5px;
      }
    }
 }