.ejianlian-project-window{
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex: 1;
    justify-content: stretch;
     .ejianlian-project-start{
         margin:auto;
         p:first-child{
            font-size: 18px;
            color: #333333;
            letter-spacing: 0.22px;
             text-align:center;
         }
         p:last-child{
            background:#f4f4f4;
            img{
                background: #f4f4f4;
                height:210px;
                width:210px;
                border-radius:50%;
            } 
         }
     }
}