
.ejianlian-project-add{
    background: #FFFFFF;
    border-radius: 3px;
    height:850px;
   // width:600px;
     #title-f{
        //width:600px;
        height:60px;
        //display:flex;
        box-sizing:border-box;
       // padding:10px;
        border-bottom:1px solid #d2d1d1;
        text-align:center;
         margin-right:0;
         line-height:60px;

     } 
  // .ejianlian-form{
    .person-type{
       display:flex;
       align-items: center;
       .avatar-uploader,
       .avatar-uploader-trigger,
       .avatar {
         width: 60px;
         height: 60px;
       }
       .avatar-uploader {
         display: block;
         border: 1px dashed #d9d9d9;
         border-radius: 50%;
         cursor: pointer;
       }
       .icon-person{
         height:60px;
         width:60px;
         border-radius:50%;
         background-color:#ddd;
         text-align:center;
         line-height:60px;
          .icon{
            color:#fff;
            font-size:20px;
          }
       }
    }
    .common-type{
       margin-top:30px;
      margin-left:30px;
       .icon-add{
         font-size:30px;
         margin-left:24px;
       }

       input{
        border:1px solid #ddd;
        height:46px;
        width:400px;
        border-radius:5px;
    }
  //  }
}
}
