.ejianlian-project-list{
    //position:relative;
    margin-top:30px;
//    // min-height:750px;
//     height:100%;
    overflow-y: auto;
    flex:1;
//     width:450px;
    background-color: #fff;
//     border:1px solid #fff;
//     border-radius:10px;
//     display: flex;
//     flex-direction: column;
//     justify-content: stretch;
     .list-item{
         display:flex;
         display: -webkit-flex;
         width:450px;
         height:100px;
        //  line-height: 100px;
         border-bottom:1px solid #fff;
         background:#fff;
         box-sizing:border-box;
         border-bottom: 1px solid #DDDDDD;
         border-top-left-radius: 10px;
         border-top-right-radius:10px;
         align-items:center;
         padding-left:20px;
         &>p{
            font-family: PingFangSC-Regular;
            font-size: 16px;
            color: #333333;
            letter-spacing: 0.19px;
         }
          &> .project-icon-avatar{
             height:50px;
             width:50px;
             border-radius:50%;
             background-color:#78909C;
             margin-right:16px;
             text-align: center;
             line-height:50px;
             &>p{
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #333333;
                letter-spacing: 0.19px;
             }
             &>.icon{
                 //text-align:center;
                 color:white;
                 font-size:20px;
             }
             &> .icon-close{
                // background: #C1C5D2;
                 color: #333333;
                font-size:20px;
             }
         }
         .list-right{
             margin-left:10px;
             height:100px;
             text-align:left;
             line-height:100px;
             &>p{
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #333333;
                letter-spacing: 0.19p;
                // width:146px;
                height:22px;
                
             }

         }
          .list-img{
            // height:100px;
            margin-top:15px;
            // line-height:100px;
         img{
            width: 50px;
            height: 50px;
            text-align:center;
            // margin-top: 30px;
            // border: 1px solid #ddd;
            border-radius: 50%;
            //margin-left: 20px;
            margin-right: 20px;
          }
        }
        .list-img-icon{
            width:50px;
            height:50px;
            border-radius:50%;
            background:#15b4f1;
            &>.icon{
                text-align:center;
                margin-left:5px;
                line-height:50px;
            }
        }
     }    
    }