.ejianlian-project-list{
    position:relative;
    margin-top:30px;
    height:820px;
    width:450px;
    background-color: #fff;
    border:1px solid #fff;
    border-radius:10px;
     .list-item{
         display:flex;
         width:450px;
         height:100px;
         border-bottom:1px solid #fff;
         background:#fff;
         box-sizing:border-box;
         border-bottom: 1px solid #DDDDDD;
         border-top-left-radius: 10px;
         border-top-right-radius:10px;
         .list-right{
             margin-left:10px;
             height:100px;
             text-align:left;
             p:nth-child(1){
                font-size: 16px;
                color: #333333;
                letter-spacing: 0.19p;
                margin-top:19px;
             }
             p:nth-child(2){
                font-size: 14px;
                color: #666666;
                letter-spacing: 0.17px;
             }
             p:nth-child(3){
                font-size: 12px;
                color: #666666;
                letter-spacing: 0.14px;
             }

         }
         img{
            width: 40px;
            height: 40px;
            margin-top: 30px;
            border: 1px solid #ddd;
            border-radius: 50%;
            margin-left: 20px;
            margin-right: 20px
         }
     }
     
      
}
