// 聊天信息/公告信息列表
.ejianlian-chat-message-list {
    overflow: scroll;
    width: 100%;
    .file-create-time {
        height: 40px;
        line-height: 40px;
        color: #666;
        text-indent: 20px;
        font-size: 16px;
    }
    .chat-user-pannel:hover {
        background-color: #e3f2fd;
        & > .icon-chuyidong {
            opacity: 1;
        }
    }
    .chat-user-pannel-avtive {
        background-color: #D4ECFC !important;
    }
    & > .chat-user-pannel {
        height: 90px;
        border-bottom: 1px solid #ddd;
        display: flex;
        padding: 0px 10px;
        background-color: #fff;
        position: relative;
        & > .icon-chuyidong {
            margin: 0 -10px;
            margin-top: 30px;
            display: block;
            opacity: 0;
        }
        .work-notice-redDot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #EF5350;
            margin-top: 40px;
        }
        .user-avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 20px 10px;
            & > img {
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 50%;
            }
            .icon {
                color: #5C6BC0;
                font-size: 40px;
            }
            .icon-xls {
                color: #66BB6A;
                font-size: 40px;
            }
            .icon-jpg {
                color: #039BE5;
                font-size: 40px;
            }
        }
        & > .work-notice {
            background-color: #EF5350;
            text-align: center;
            line-height: 50px;
            & > .icon {
                color: #fff;
                font-size: 25px;
            }
        }
        & > .project-notice {
            background-color: #FFC107 ;
            text-align: center;
            line-height: 50px;
            & > .icon {
                color: #fff;
                font-size: 25px;
            }
        }
        & > .new-friend-notice {
            background-color: #29b6f6 ;
            text-align: center;
            line-height: 50px;
            & > .icon {
                color: #fff;
                font-size: 25px;
            }
        }
        .download-icon {
            margin-top: 30px;
            & > .icon {
                font-size: 20px;
                color: #666;
            }
        }

        .user-message {
            width: 350px;
            margin-top: 15px;
            .message-createAt {
                float: right;
                font-size: 12px;
                color: #999999;
            }
           & > p:nth-of-type(1) {
                font-size: 16px;
            }
            .last-message {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-top: 15px;
                font-size: 14px;
                color: #666;
                .notice-red-dot {
                    padding: 0px 5px;
                    height: 20px;
                    min-width: 10px;
                    background-color: #EF5350;
                    border-radius: 20px;
                    float: right;
                    margin-right: 20px;
                    text-align: center;
                    line-height: 20px;
                    color: #fff;
                }
                .notice-red-dot-no {
                    width:10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #EF5350;
                    margin-top: 4px;
                }
                & > i {
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
}
