.try{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
   // background:rgba(255, 255, 255, 0.2);
     opacity: 0;
    height: 100%;
    z-index: 1000;
}
.clender-setting{
     width: 260px;
     border: '1px solid #d9d9d9';
      border-radius: 4px;
      border:1px solid #ededed;
      position:absolute;
      background:#fff;
      z-index:1001;
      box-shadow: 1px 1px 1px 1px #DDDDDD;
      text-align:center;
      button{
          height:20px;
          width:50px;
          background:#29B6F6;
          border-radius:3px;
          font-size:12px;
          margin-bottom:10px;
      }
}
.clender-setting-more{
    top:80px;
    left:0px;
}
.clender-over{
    top:140px;
    left:288px;
}
.time-show{
    height:24px;
    width:100px;
    background: #D8D8D8;
    border-radius: 3px; 
   // display:flex;
    margin-top:5px;
    text-align:center;
    margin-right:2px;
    &>.time-number{
        margin-left:3px;
        font-family: PingFangSC-Regular;
        font-size:12px;
       
        color: #fff;
        letter-spacing: 0.14px;
        height:17px;
    }   
}
.list-show{
    margin-left:10px;
}
.list-color{
    background-color: #29B6F6 !important;
    width:60px;
    height:30px !important;
    &>.talk-number{
        color:#fff;
        margin-left:2px !important; 
    }
    &>.icon{
        color:#fff;
        margin-left:2px;

    }
}
.talk-show{
    height:32px;
    line-height:32px;
    background: #fff;
    border-radius: 3px; 
    display:flex;
    margin-top: 5px ;
    &>.talk-number{
        margin-left:5px; 
    }
}
.list-title-show{
    height:22px;
    line-height:22px;
    display:flex;
    justify-content:space-between;
    .task-title{
        font-size: 16px;
        color: #333333;
        font-weight:bold;
        letter-spacing: 0.19px;
    }
.label-show{
    height:12px;
    width:12px;
    border-radius:50%;
    margin-right:16px;
    margin-top:5px;
 }
}
.container div,
.gu-mirror {
  // padding: 10px;
  // background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
}
.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  //  margin-bottom: 10px;
}
 .container div:last-child {
   margin-bottom: 0;
 }
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.wrapper {
    display: table;
  }
  .container {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
    //   .gu-mirror {
    //   position: fixed !important;
    //   margin: 0 !important;
    //   z-index: 9999 !important;
    //   opacity: 0.8;
    //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    //   filter: alpha(opacity=80);
    // }
    .gu-hide {
      display: none !important;
    }
    // .gu-unselectable {
    //   -webkit-user-select: none !important;
    //   -moz-user-select: none !important;
    //   -ms-user-select: none !important;
    //   user-select: none !important;
    // }
    .gu-transit {
      opacity: 0.2;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
    } 

