@blueBtn: #15B4F1;

.ejianlian-project-window-show{
    background: #FFFFFF;
    box-shadow: 2px 2px 15px 1px rgba(221,221,221,0.50);
    border-radius: 3px; 
    height:920px;
    box-sizing:border-box;
    width:100%;  
    //width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    flex: 1;
    justify-content: stretch;
    .window-title{
      height:60px;
     line-height:60px;
      box-sizing:border-box;  
      border-bottom:1px solid #ddd;
        p{
            font-family:PingFangSC-Regular;
            font-size: 18px;
            color: #333333;
            letter-spacing: 0.22px;
            text-align:center;
        }
        .icon-one{
          margin-left:10px;
        }
    }
   .ejianlian-body-tab{
      height:70px;
      // border-bottom:1px solid #ddd;
       .tab-task{
          border-bottom:none !important;
          .ant-tabs-bar{
              height:68px !important;
              box-sizing:border-box !important;
              .ant-tabs-ink-bar{
                height:0 !important;
                bottom:0 !important;
            }
          .ant-tabs-tab-active {
            margin-top:17px ;
            margin-bottom:17px;   
            color:#fff;
            height:36px;
            width:90px;
            border: 1px solid @blueBtn !important;
            background:  @blueBtn;
           border-radius:5px;
        }
        .ant-tabs-nav {
           margin-left:27%;
            .ant-tabs-tab{
              padding:8px 20px;
             font-size:16px;
         }
        }
       }
     }
   }
.ejianlian-add-item-bar{
    display:flex;
    background: #EEEEEE;
    box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
    border-radius: 3px;
    width:337px;
    height:50px;
    line-height:50px;
    padding-left:20px;
    p{
        font-family: pingFangSC-Medium;
        font-size: 16px;
        color: #999999;
        letter-spacing: 0.19px;
        margin-left:10px;
    }
}
.ejianlian-project-item{
    width:337px;
    height:146px;
    box-sizing:border-box;
    box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
    border-radius: 3px;
    margin-top:30px;
    text-align:center;
     .project-input{
        padding-top:20px;
        height:70px;
    }
    .project-button{
        margin-top:20px;
    }
}
}