
.ejianlian-add-item-bar{
    display:flex;
    background: #EEEEEE;
    box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
    border-radius: 3px;
    width:337px;
    height:50px;
    line-height:50px;
    padding-left:20px;
    p{
        font-family: pingFangSC-Medium;
        font-size: 16px;
        color: #999999;
        letter-spacing: 0.19px;
        margin-left:10px;
    }
}
.ejianlian-project-item{
    width:337px;
    height:146px;
    box-sizing:border-box;
    box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
    border-radius: 3px;
    margin-top:30px;
    text-align:center;
     .project-input{
        padding-top:20px;
        height:70px;
    }
    .project-button{
        margin-top:20px;
    }
}