
.ejian-lian-project-detail{
  width:420px;
  height:732px;
  overflow:auto;
  // position:absolute;
  // z-index:1000;
  // // background-color: rgba(55, 55, 55, 0.6);
  // left:100px;
  // top:-36px;
  // background:#ddd;
  //padding:0 20px ;
     .detail-common{
        padding:0 20px;
        margin-bottom:10px;
     }
     .modal-detail-content{
         .detail-list-common{
             margin-bottom:10px;
             .ready-task{
               border-bottom: 1px solid #ddd;
               padding:12px 0;
             }
             .circle-icon{
               font-size:32px;
               color: #BDBDBD; 
             }
             .circle-icon-l{
                font-size:30px;
                //opacity:0;
                width:30px;
                height:30px;
                border-radius:50%;
                margin-top:10px;
              }
         }
     }
     .detail-comment{
        .comment-title{
          padding:10px 0;
        }
        .comment-talk{
          margin-top:5px;
          a{
            font-family: PingFangSC-Regular;
            font-size: 10px;
            color: #999999;
            letter-spacing: 0.12px;
          }
        }
     }
     .detail-list-decription{
        min-height:50px;
         width:100%;
         p{
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #666666;
            letter-spacing: 0.17px;
            height:17px;
         }
         .input-decription{
           height:30px;
           padding:2px;
           font-family: PingFangSC-Regular;
           font-size: 14px;
           color: #666666;
           letter-spacing: 0.17px;
           width:380px;
           text-align: left;
           border-bottom:1px solid #ddd;
         }
     }
   &>.detail-title {
     height:44px;
     width:100%;
     background: #F4F4F4;
     box-shadow: 0 1px 0 0 #DDDDDD;
     border-radius: 3px 3px 0 0;
     line-height:44px;
     padding:0 20px;
     h1{
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0.19px;  
     }
   }
 }

.ant-modal-close-x{
 font-size:20px !important;
 line-height:48px !important;
}
.person-size{
    padding-top:10px;
    .avatar{
    width:32px;
    height:32px;
    line-height:32px;
    }
}
.comment-button{
  background: #29B6F6;
  border-radius: 3px;
  width:48px;
  height:22px;
  margin-left:36px;
  margin-top:2px;
}

.change-modal{
   width:208px;
   height:68px;
   .icon{
    transform: rotate(45deg);
    border-radius: 100px;
    color:#BDBDBD;
    font-size:14px;
  }
   .tag-title{
    background: #F4F4F4;
    box-shadow: 0 1px 0 0 #DDDDDD;
    border-radius: 3px 3px 0 0;
    height:24px;
    width:208px;
    padding-left:8px;
    font-family: PingFangSC-Regular;
    font-size: 8px;
    color: #666666;
    letter-spacing: 0.14px;
   }
   .tag-show{
    display:flex;
    height:44px;
    align-items: center;
    padding-left:8px;
    
    .label-circle{
      height:24px;
      width:24px;
      border:1px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right:9px;
    }
    
  }
}