@blueBtn: #15B4F1;

.ejianlian-project-window-show{
    background: #FFFFFF;
    box-shadow: 2px 2px 15px 1px rgba(221,221,221,0.50);
    border-radius: 3px; 
    height:920px;
    box-sizing:border-box;
    width:100%;  
    //width:100%;
    position: relative;
    display: flex;
    flex-direction:column;
    max-height: 100%;;
    flex: 1;
    justify-content: stretch;
    .window-title{
      height:60px;
     line-height:60px;
      box-sizing:border-box;  
      border-bottom:1px solid #ddd;
        p{
            font-family:PingFangSC-Regular;
            font-size: 18px;
            color: #333333;
            letter-spacing: 0.22px;
            text-align:center;
        }
        .icon-one{
          margin-left:10px;
        }
    }
   .ejianlian-body-tab{
      height:70px;
      // border-bottom:1px solid #ddd;
       .tab-task{
          border-bottom:none !important;
          .ant-tabs-bar{
              height:68px !important;
              box-sizing:border-box !important;
              .ant-tabs-ink-bar{
                height:0 !important;
                bottom:0 !important;
            }
          .ant-tabs-tab-active {
            margin-top:17px ;
            margin-bottom:17px;   
            color:#fff;
            height:36px;
            width:90px;
            border: 1px solid @blueBtn !important;
            background:  @blueBtn;
           border-radius:5px;
        }
        .ant-tabs-nav {
           margin-left:27%;
            .ant-tabs-tab{
              padding:8px 20px;
             font-size:16px;
         }
        }
       }
     }
   }
.ejianlian-add-item-bar{
    display:flex;
    background: #EEEEEE;
    box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
    border-radius: 3px;
    width:337px;
    height:50px;
    line-height:50px;
    padding-left:20px;
    p{
        font-family: pingFangSC-Medium;
        font-size: 16px;
        color: #999999;
        letter-spacing: 0.19px;
        margin-left:10px;
    }
}
.ejianlian-project-item{
    width:337px;
    height:146px;
    box-sizing:border-box;
    background-color:#eee;
    box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
    border-radius: 3px;
    margin-top:30px;
    padding:20px;
    text-align:center;
     .project-input{
       // padding-top:20px;
        height:70px;
    }
    .project-button{
       // margin-top:20px;
         text-align:right;
         button:first-child{
             margin-right:20px;
             font-size:16px;
            }
        }  
     }
     .ejianlian-project-item-list{
         width:337px;
         height:730px;
         background: #EEEEEE;
         box-shadow: 1px 1px 3px 0 rgba(102,102,102,0.50);
         border-radius: 5px;
         margin-left:30px;
         padding:20px;
         .list-message{
             margin-top:5px;
              .list-message-item{
                  margin-top:10px;
                  min-height:46px;
                  background:#fff;
                  padding-left:20px;
                  padding-top:12px;
                  background: #FFFFFF;
                  box-shadow: 1px 1px 4px 0 rgba(126,131,129,0.20);
                  border-radius: 3px;
              }
         }
         .list-input{
             margin-top:15px;
             .input-text{
              width:297px;
              height:46px;
             }
             .list-button{
                margin-top:10px;
                text-align:left;
                button:first-child{
                    margin-right:20px;
                    font-size:16px;
                    background-color:#15b4f1;
                    color:white;

               }  
             }
         }
          .list-title{
             p{
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #333333;
            letter-spacing: 0.19px;}
             .icon{
                color: #999999;
                font-size:18px;
            }
          }
          .list-add{
              display:flex;
              margin-top:12px;
              &>p{
                font-family: PingFangSC-Regular;
                font-size: 16px;
                color: #999999;
                letter-spacing: 0.19px;
                margin-left:8px;

              }
          }
     }
}