@import '../../styles/view/util/util.less';
.select-one {
    overflow: hidden;
    width: 100%;
    .ant-radio-wrapper {
        margin-bottom: 10px;
    }
    .ant-radio + span {
        display: inline-block;
    }
    .user-info {
        width: 100%;
        display: inline-block;
        & > .avatar {
            height: 40px;
            line-height: 40px;
            width: 40px;
            float: left;
            display: inline-block;
            margin-right: 10px;
            font-size: 13px;
        }
    }
    .ant-radio-group {
        width: 100%;
    }
    .btn-wrap {
        text-align: right;
        width: 100%;
    }
    .ant-btn-primary {
        background-color: @mainColor !important;
        // float: right;
        border-color: @mainColor !important;
    }
    .ant-radio-inner {
        border-color: @greenColor !important;
    }
    .ant-radio-inner:after {
        background-color: @greenColor !important;
    }
}