@import '../view/util/util.less';
.select-members {
    .user-info {
        display: flex !important;
        & > .avatar {
            height: 40px !important;
            line-height: 40px;
            width: 40px !important;
            margin-top: -7px;
            font-size: 12px;
        }
        & > p {
            margin-top: 3px;
            margin-left: 5px;
        }
    }
    .selected-avatar {
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
        .avatar {
            float: left;
            margin-right: 10px;
        }
        & > .avatar {
            height: 40px !important;
            line-height: 40px;
            width: 40px !important;
            font-size: 12px;
        }

    }
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner, .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner {
        background-color: @greenColor !important;
        border-color: @greenColor !important;
    }
    .btn-wrap {
        height: 50px;
        .ant-btn-primary {
            background-color: @mainColor !important;
            float: right;
            border-color: @mainColor !important;
        }
    }
    .ant-tree-checkbox-inner {
        border-radius: 50%;
        border-color: @greenColor !important;
    }
}