@import '../util/util';

.e-mg-audit-tab-pre{
    float: right;
    a{
        color: @blueColor;
    }
}
.e-mg-audit{
    height: 100%;
}
.e-mg-audit-content{
    height: 100%;
    width: 100%;
    overflow: hidden;
    .e-mg-audit-tab{
        border-bottom: 1px solid rgb(220, 220, 220);
        a{
            margin-right: 30px;
            color: @color66;
            display: inline-block;
            padding: 0 10px 8px 10px;
        }
        .e-mg-audit-tab-active{
            color: @blueColor;
            border-bottom: 2px solid @blueColor;
        }
    }
    .e-mg-audit-content-body{
        height: 100%;
        .e-mg-log-filter{
            max-height: 660px;
            overflow: auto;
            width: 102%;
            .e-mg-log-card{
                &:nth-child(3n+1){
                    margin-right: 2%;
                }
                &:nth-child(3n){
                    margin-right: 0%;
                }
            }
        }
        // 发起审批卡片
        .e-mg-audit-send{
            margin: 20px 0;
            display: flex;
            flex-flow: row wrap;
        }
        .e-mg-audit-send-card{
            width: 20%;
            text-align: center;
            margin-top: 4%;
            .e-mg-audit-send-card-link{
                border-radius: 6px;
                display: inline-block;
                width: 188px;
                padding: 20px 0;
                border: 1px solid @blueColor;
                color: @blueColor;
            }
        }
    }
}
.e-mg-audit-peopleList{
    margin-bottom: 0px !important;
}
.e-mg-audit-card-no{
    position: relative;
    img{
        position: absolute;
        width: 200px;
        right: 40px;
    }
}
.e-mg-audit-card-yes{
    position: relative;
    img{
        position: absolute;
        width: 200px;
        right: 40px;
    }
}

// 请假
.e-mg-audit-leave{
    height: 100%;
    overflow: hidden;
    .e-mg-audit-form{
        margin-top: 40px;
        color: #2A2A2A !important;
        overflow: auto;
        padding-bottom: 60px;
        height: 96%;
    }
    .e-mg-audit-leave-a{
        color: @blueColor;
    }
}


// 组件样式


// goback
.e-mg-audit-goback{
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 8px;
    padding-left: 15px;
    .e-mg-audit-send-card-link{
        padding-bottom: 5px;
        color: @color66;
        font-size: 20px;
    }
}

// groupSelect
.e-mg-audit-groupSelect{
    margin-top: -20px;
    margin-bottom: 0px !important;
}
.e-mg-audit-seleted-img{
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    line-height: 1;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #eee;
        // margin-bottom: 6px;
    }
    p{
        color: #666;
        margin-top: 5px;
    }
    .e-mg-audit-deps-people-per-img{
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-left: 0px;
        text-align: center;
        line-height: 45px;
        margin-bottom: 4px;
        overflow: hidden;
    }
}
.e-mg-audit-xuanze{
    .ant-modal-header{
        background: #fff;
    }
    .ant-modal-content{
        background: #eee;
    }
    .e-mg-audit-xuanze-col{
        background: #fff;
        float: left;
        padding: 15px;
        height: 500px;
    }
    .e-mg-audit-xuanze-left{
        float: left;
        width: 54%;
        border-radius: 6px 0 0 6px;
    }
    .e-mg-audit-xuanze-right{
        padding: 15px 10px;
        width: 45%;
        margin-left: 1%;
        border-radius: 0 6px 6px 0;
        overflow: hidden;
        .e-mg-audit-deps-people{
            height: 370px;
            overflow: auto;
        }
        .e-mg-audit-deps-people-per{
            display: inline-block;
            width: 100%;
            padding: 10px;
            position: relative;
            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                vertical-align: middle;
                margin-top: -4px;
            }
            span{
                margin-left: 10px;
                color: #666;
                vertical-align: middle;
            }
            .e-mg-audit-deps-people-per-span{
                display: inline-block;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-left: 0px;
                text-align: center;
                line-height: 35px;
                font-size: 12px;
                color: #fff;
            }
            &:hover{
                background: #eee;
            }
            &:active, &:hover, &:visited, &:focus{
                text-decoration: none;
            }
            .e-mg-audit-deps-people-icon{
                display: inline-block;
                height: 37px;
                width: 37px;
                border-radius: 50%;
                position: absolute;
                top: 7px;
                left: 9px;
                text-align: center;
                background: rgba(100,100,100, 0.8);
                color: #fff;
                font-size: 24px;
            }
        }
    }
    .e-mg-audit-xuanze-footer{
        background: #fff;
        padding: 15px;
        button{
            width: 150px;
            border: none;
        }
    }
}

// my model 自定义model
.e-mg-model-{
    width: 600px;
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    right: -600px;
    opacity: 0;
    background: #eee;
    border-radius: 4px;
    // box-shadow: -1px 0 10px #eee;
    transition: right .2s ease;
}
.e-mg-model-show-{
    opacity: 1;
    right: 0;
    z-index: 2;
    box-shadow: -2px 0px 10px rgba(55, 55, 55, 0.3);
}
.e-mg-model-vertical{
    border-radius: 4px;
    width: 600px;
    overflow: hidden;
    display: block;
    position: fixed;
    top: -300px;
    left: 50%;
    transform: translateX(-300px);
    opacity: 0;
    background: #eee;
    // box-shadow: -1px 0 10px #eee;
    transition: top .2s ease;
    z-index: -1;
}
.e-mg-model-show-vertical{
    opacity: 1;
    top: 200px;
    z-index: 2;
}
.e-mg-model-header{
    // padding: 15px 0;
    background: #fff;
    height: 55px;
    border-bottom: 1px solid #eee;
}
.e-mg-model-header-title{
    color: RGBA(120, 120, 120, 1.00);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
.e-mg-model-header-close{
    float: right;
    padding-right: 10px;
    // margin-top: -8px;
    .iconfont{
        font-size: 30px;
    }
}
.e-mg-model-body{
    position: relative;
    height: 100%;
    overflow: auto;
    width: 100%;
    // top: 60px;
    // // bottom: 45px;
    // left: 0;
    // right: 0;
    // overflow: auto;
}
.e-mg-model-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #eee;
    .pull-right{
        float: right;
        color: #eee;
    }
}
.e-mg-model-body-avatar{
    padding: 15px 0;
    background: #fff;
    .ant-avatar{
        height: 60px !important;
        width: 60px !important;
        border-radius: 30px !important;
    }
}
.e-mg-model-body-content{
    background: #fff;
    padding: 15px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.9);
    .e-mg-body-content-span{
        color: rgba(0, 0, 0, 0.6);;
    }
}
.e-mg-model-body-comment{
    padding: 15px;
    background: #fff;
    margin-top: 15px;
    line-height: 60px;
    .ant-avatar{
        vertical-align: middle;
        margin-top: -8px;
    }
}
.e-mg-model-mask-false{
    .e-mg-model-mask{
        position: fixed;
        z-index: -1;
        background: rgba(0, 0, 0, 0.01)
    }
}
.e-mg-model-mask-true{
    .e-mg-model-mask{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: rgba(55,55,55,.6);
    }
}
.e-mg-model-comment{
    background: #fff;
    height: 230px;
    padding: 15px;
    line-height: 2;
}
