@import '../util/util';
.e-mg-container{
    padding: 47px 30px 30px 30px;
    margin: 0 !important;
    height: 100% !important;
    display: flex !important;
}
.e-mg-right{
    flex: 1 1 auto !important;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;
    box-shadow: 2px 2px 15px 1px rgba(221,221,221,0.50);
    > .ant-card{
        height: 100%;
        .ant-card-body{
            height: 100%;
        }
    }
}


// 公共样式
.e-mg-text-center{
    text-align: center !important;
}
.e-mg-button-primary{
    background: @blueColor !important;
    color: #fff !important;
    border: 1px solid @blueColor !important;
}
.e-mg-button-default{
    color: @blueColor !important;
    border: 1px solid @blueColor !important;
}