.e-mg-container{
    padding: 40px 30px 30px 30px;
    margin: 0 !important;
    height: 100% !important;
}
.e-mg-right{
    height: 96%;
    padding-right: 0 !important;
    overflow: hidden;
    > .ant-card{
        height: 100%;
        .ant-card-body{
            height: 100%;
        }
    }
}


// 公共样式
.e-mg-text-center{
    text-align: center !important;
}