@blueBtn: #15B4F1;

.e-mg-left{
    display: flex;
    height: 100%;
    .e-mg-left-per {
        flex: 1;
        // width: 33%;
        text-align: center;
        margin-top: 48px;
        .e-mg-left-btn {
            width: 88px !important;
            height: 88px !important;
            border: 1px solid @blueBtn !important;
            border-radius: 50% !important;
            font-size: 36px !important;
            color: @blueBtn !important;
            margin-bottom: 15px;
        }
        > p{
            color: @blueBtn;
            font-size: 20px;
        }
    }
    .e-mg-left-company{
        margin-top: 30px;
        text-align: center;
    }
    > .ant-card{
        height: inherit;
    }
}