@blueBtn: #15B4F1;

.e-mg-left{
    height: 100%;
    .e-mg-left-per {
        text-align: center;
        margin-top: 48px;
        .e-mg-left-btn {
            width: 88px !important;
            height: 88px !important;
            border: 1px solid @blueBtn !important;
            border-radius: 50% !important;
            font-size: 36px !important;
            color: @blueBtn !important;
            background: #fff !important;
            margin-bottom: 15px;
            > a{
                text-decoration: none;
            }
        }
        > p{
            color: @blueBtn;
            font-size: 20px;
        }
        .e-mg-left-btn-primary{
            color: #fff !important;
            background: @blueBtn !important;
        }
    }
    .e-mg-left-company{
        margin-top: 30px;
        text-align: center;
        color: @blueBtn;
        span{
            color: @blueBtn;
        }
        .ant-select-open{
            .ant-select-selection{
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
        }
        > .ant-select-selection{
            border: none !important;
        }
        > .ant-select-selection:active{
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }
        > .ant-select-selection:focus{
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }
    }
    > .ant-card{
        height: inherit;
    }
}