* {
    margin: 0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
input, button, select, textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border:0;
    background-color: transparent;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    // -webkit-box-shadow: 0 0 0 1000px white inset;
    background-color: transparent;
}
textarea{
    resize:none;
}
input[type="file"] {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    opacity: 0;
}