
// 常用颜色
@border: #ddd;
@mainColor: #29b6f6;
@whiteColor: #fff;
@redColor: #ef5350;
@yellowColor: #ffca28;
@greenColor: #7ED321;

@blueColor: #15b4f1;
@color33: #333;
@color66: #666;
@colorB2: #b2b2b2;
@colorBD: #bdbdbd;
@colorEE: #eee;
@colorBg: #f4f4f4;
@colorCC: #ccc;

@hoverColor: #e3f2fd;
@selected: #D4ECFC;
// 常用字体大小
.font24 {
    font-size: 24px; // 一级标题(页面title)
}
.font22 {
    font-size: 22px; // 二级标题(弹窗名称,子标题)
}
.font22 {
    font-size: 20px;
}
.font18 {
    font-size: 18px;
}
.font16 {
    font-size: 16px;
}
.font14 {
    font-size: 14px;
}
.font10 {
    font-size: 10px;
}

// border
.border-line {
    border: 1px solid @border;
}
.border-bottom{
    border-bottom: 1px solid @border;
}
.border-radius {
    border-radius: 4px;
}
.btn {
    color: #fff;
    background-color: @mainColor;
    border-radius: 3px;
    text-align: center;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-right-20{
    margin-right: 20px;
}
.padding-right-20{
    padding-right: 20px !important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.border-bottom-eee{
    border-bottom: 1px solid #eee;
}
.color-666{
    color: #666;
}
a:focus{
    text-decoration: none !important;
}
